@page "/testnpcs"
@inject NpcService NpcServiceInstance

<h3>Test NPC List</h3>

@if (npcs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var npc in npcs)
        {
            <div class="col-md-4 mb-4">
                <div class="npc-item bg-secondary ">
                    <h4>@npc.Name</h4>
                    <img src="@npc.Image" alt="@npc.Name" class="rounded img-fluid  object-fit-cover img-max"/>
                    <p><strong>Location:</strong> @npc.Location</p>
                    <p><strong>Role:</strong> @npc.Role</p>
                    @if (!string.IsNullOrWhiteSpace(npc.Quote))
                    {
                        <blockquote>@npc.Quote</blockquote>
                    }
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Npc>? npcs;

    protected override async Task OnInitializedAsync()
    {
        npcs = await NpcServiceInstance.GetAllNpcs();
    }
}
